<div class="input-data">
    <label for="title">Title</label>
    <input #title type="text" id="title" name="title">

    <label for="description">Description</label>
    <input #desc type="text" id="desc" name="desc" >

    <button (click)="postDataTutorial(title.value, desc.value)">Post!</button>
</div>

<div class="content" *ngFor="let data of tutorials">
    <div class="wrapper">
        <p>{{data.title}}</p>
        <button (click)="getDataTutorialId(data.id)">Get ID!</button>
        <button (click)="deleteDataTutorial(data.id)">Delete</button>
    </div>
</div>
